@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Escudo_de_Racing_Club_%282014%29.svg/165px-Escudo_de_Racing_Club_%282014%29.svg.png" style="margin-left:-315px; position:fixed" />

<div class="text-center" style="margin:3%">
    <h1 class="display-4">Plantel</h1>

</div>
<hr />

<div style="display: grid; grid-template-columns: auto auto; justify-content: center">

    <!--J1-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://pbs.twimg.com/media/EES5LGAWwAAUIIs.jpg" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Gabriel Arias
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Gaviota
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> Arquero
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong>34
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong> 1,88
        </p>

    </div>

    <!--J2-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://www.racingclub.com.ar/img/futbol/plantel/790_garcia.jpg?v=2.3" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Javier García
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Javi
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> Arquero
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong> 35
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong> 1,80
        </p>

    </div>

    <!--J3-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://racingmaniacos.com.ar/wp-content/uploads/2019/06/2917530.jpg" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Iván Pillud
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Polaco
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> Defensor
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong> 32
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong> 1,77
        </p>

    </div>

    <!--J4-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://www.depo.com.ar/__export/1577572044985/sites/cronica/img/2019/12/28/nery_dominguez_crop1577572044329.jpg_792575817.jpg" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Nery Dominguez
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Nery
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> Defensor
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong> 32
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong> 1,84
        </p>

    </div>

    <!--J5-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://image-service.onefootball.com/transform?w=280&h=236&dpr=2&image=https%3A%2F%2Fwp-images.onefootball.com%2Fwp-content%2Fuploads%2Fsites%2F12%2F2019%2F12%2Fdonatti3.jpg" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Alejandro Donatti
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Flaco
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> Defensor
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong> 35
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong> 1,91
        </p>

    </div>

    <!--J6-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://pbs.twimg.com/media/Eu7V9-2XUAIW6r8.jpg" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Eugenio Mena
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Chueco
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> Defensor
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong> 34
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong> 1,88
        </p>

    </div>

    <!--J7-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://fotos.perfil.com/2019/11/01/trim/1040/780/sigali.jpg" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Leonardo Sigali
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Flaca
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> Defensor
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong> 34
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong> 1,88
        </p>

    </div>

    <!--J8-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdxxf7A2qLG0xKn49IC-ANZV-xhrYNd7h7xA&usqp=CAU" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Lucas Orban
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Muralla
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> Defensor
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong> 34
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong> 1,88
        </p>

    </div>

    <!--J9-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://elcrackdeportivo.com.ar/u/fotografias/m/2021/1/15/f768x1-25715_25842_79.jpg" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Alexis Soto
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Sotinho
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> Defensor
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong> 28
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong> 1,72
        </p>

    </div>

    <!--J10-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://pbs.twimg.com/media/DmH-aVnXcAArtRT.jpg" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Renzo Saravia
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Lei
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> Defensor
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong> 28
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong> 1,74
        </p>

    </div>

    <!--J11-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://media.tycsports.com/files/2019/02/07/41465/marcelo-diaz-racing.jpg" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Marcelo Diaz
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Chileno
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> Volante
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong> 35
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong> 1,66
        </p>

    </div>

    <!--J12-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://media.tycsports.com/files/2020/12/03/159200/walter-montoya-en-racing.jpg" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Walter Montoya
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Chaque
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> Volante
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong> 29
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong> 1,68
        </p>

    </div>

    <!--J13-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://bolavip.com/__export/1602528998575/sites/bolavip/img/2020/10/12/matias_zaracho_racing_crop1602528998048.jpg_1159711837.jpg" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Matías Zaracho
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Joya
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> Volante
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong> 20
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong> 1,74
        </p>

    </div>

    <!--J14-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://www.sol915.com.ar/wp-content/uploads/2022/03/FO8-b31XsAICSta.jpg" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Mauricio Martinez
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Caramelo
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> Volante
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong> 26
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong> 1,87
        </p>

    </div>

    <!--J15-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://pbs.twimg.com/media/EsN4o-DXEAAbAuN.jpg:large" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Agusto Solari
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Indio
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> Volante
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong> 30
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong> 1,78
        </p>

    </div>

    <!--J16-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://www.diariopopular.com.ar/mrf4u/statics/i/ps/media.diariopopular.com.ar/p/4a7f720ee3f7920723b68483ff79442d/adjuntos/143/imagenes/005/377/0005377189/pol-fernandez-racingjpg.jpg" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Guillermo Fernandez
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Pol
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> Volante
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong> 30
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong> 1,71
        </p>

    </div>

    <!--J17-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWMgLwJjJQlCJYVJrI0vCYEi19b_uHJ9gTsg&usqp=CAU" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Jonatan Cristaldo
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Churry
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> Delantero
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong> 31
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong> 1,78
        </p>

    </div>

    <!--J18-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://www.racingdealma.com.ar/wp-content/uploads/2021/12/A592DDF4-A492-4DF6-BA4A-48F0E3FF1AE2.jpeg" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Dario Cvitanich
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Bebecvita
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> Delantero
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong> 36
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong>  1,72
        </p>

    </div>
    <!--J19-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://images.ole.com.ar/2021/12/11/nYA8i4vlu_340x340__1.jpg" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Lisandro Lopez
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Licha
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> Delantero
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong> 38
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong>  1,74
        </p>

    </div>
    <!--J20-->
    <div style="margin-left:100px;margin-right:100px">
        <img src="https://pbs.twimg.com/media/EpKu-DWXYAEyLnt.jpg" style="height:400px; width: 300px" />

        <p style="margin-left:80px; font-size:20px">
            <strong> Nombre:</strong> Eduardo Coudet
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong> Apodo:</strong> Chacho
        </p>

        <p style="margin-left:80px;  font-size:20px">
            <strong>Posición:</strong> DT
        </p>

        <p style="margin-left:80px; font-size:20px">
            <strong> Edad: </strong> 47
        </p>
        <p style="margin-left:80px; font-size:20px">
            <strong>Altura: </strong>  1,67
        </p>

    </div>
</div>

