@{
    ViewData["Title"] = "Home Page";
}

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Escudo_de_Racing_Club_%282014%29.svg/165px-Escudo_de_Racing_Club_%282014%29.svg.png" style="margin-left:-315px; position:fixed" />

<div class="text-center">
    <h1 class="display-4" style="margin:3%">Bienvenido</h1>
</div>
<hr />


<div style="display:grid; grid-template-columns:auto auto">
    <div style="font-size: 20px; margin-left:-137px; padding:20px" >
        <p> <strong> La Academia se propuso ser protagonista durante toda la temporada y mantuvo la ambición semana a semana. Agarró la punta del torneo en la cuarta fecha y no soltó más. Se hizo imbatible de local y consiguió triunfos importantes afuera del Cilindro. Construyó sólidos argumentos a partir de un estilo de juego reconocible y soportó los momentos difíciles desde el compromiso colectivo y desde la jerarquía individual.</strong></p>
    </div>

    <div style="font-size:20px; margin-right:-165px; padding:20px" >
        <p> <strong>A falta de una jornada para el cierre, la gloria le pertenece a Racing. Se la ganó sobre la base de actuaciones contundentes y de lograr el 77,7 por ciento de los puntos. Lo mereció de principio de fin. Por eso vale la pena mirar hacia atrás y avanzar peldaño a peldaño otra vez. Para revivir las alegrías, para disfrutarlo de nuevo, para gritar campeón las veces que sea necesario. </strong></p>
    </div>
</div>

<hr />
<div style="display: grid; grid-template-columns: auto auto auto; justify-content: center">
    <div style="margin:70px; border:solid">
        <img src="https://pbs.twimg.com/media/ELys8XJWoAAYznr.jpg" style="height:250px; width: 350px" />
    </div>

    
    <div style="margin: 70px; border: solid">
        <img src="https://www.infobae.com/new-resizer/CcNkOL3PENX55AFvej8vHV8UG6A=/1200x900/filters:format(webp):quality(85)//s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2019/04/07213357/racing-campeon-39.jpeg" style="height:250px; width: 350px" />
    </div>
    <div style="margin: 70px; border: solid">
        <img src="https://www.altaperformance.com.ar/wp-content/uploads/2019/04/18dep-f1.jpg" style="height: 250px; width: 350px" />
    </div>
    <div style="margin:70px; border:solid">
        <img src="http://www.elprimergrande.com/wp-content/uploads/2021/11/racing-campeon-44.jpeg" style="height:250px; width: 350px" />
    </div>
    <div style="margin:70px; border:solid">
        <img src="https://s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2019/04/08090935/Racing-vs-Defensa-y-Justicia-festejos-racing-campeon-114.jpg" style="height:250px; width: 350px" />
    </div>
    <div style="margin:70px; border:solid">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1OKVHy_-7MUh8Kj1ug1MoTd5JmTBYm5CDuvqcObgEd-Aff09ZRuQ2UjWdBwW4IfpdwQ8&usqp=CAU" style="height:250px; width: 350px" />
    </div>
    <div style="margin:70px;border:solid">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThXisy_S4wJU9EwtgcGHDIL4q4uwIE4sWd1w&usqp=CAU" style="height:250px; width: 350px" />
    </div>
    <div style="margin:70px; border:solid">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiYhro6599o46Xwy8V_S1BjBodMAcHQcQ7i8CGVlszllfcwlvvzfTC8zewhGEJR5QTTqI&usqp=CAU" style="height:250px; width: 350px" />
    </div>
    <div style="margin:70px; border:solid">
        <img src="http://e00-ar-marca.uecdn.es/claro/assets/multimedia/imagenes/2019/04/08/15546810167841.jpg" style="height:250px; width: 350px" />
    </div>
    <div style="margin:70px; border:solid">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRGjKRx6UX88xchIxim7Gqi3kvAXJTauV1nEEVBYC8J3j8PBBnqmvw2aumDWKcvInCCtk&usqp=CAU" style="height:250px; width: 350px" />
    </div>
    <div style="margin:70px; border:solid">
        <img src="https://s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2019/04/08090519/Racing-vs-Defensa-y-Justicia-festejos-racing-campeon-125.jpg" style="height:250px; width: 350px" />
    </div>
    <div style="margin:70px; border:solid">
        <img src="https://i.pinimg.com/originals/f6/4a/a4/f64aa427174d15af8b684a27ddc1753c.jpg" style="height:250px; width: 350px" />
    </div>
    <div style="margin:70px; border:solid">
        <img src="https://cdn.resfu.com/media/img_news/agencia-efe_multimedia_3911167.multimedia.photos.15178155.file.jpg?size=1000x&lossy=1" style="height:250px; width: 350px" />
    </div>
    <div style="margin:70px; border:solid">
        <img src="https://media.tycsports.com/files/2020/02/09/87060/festejo-racing_862x485.jpg?v=1" style="height:250px; width: 350px" />
    </div>

    <div style="margin:70px; border:solid">
        <img src="http://www.elprimergrande.com/wp-content/uploads/2021/11/racing-campeon-44.jpeg" style="height:250px; width: 350px" />
    </div>

    <div style="margin:70px; border:solid">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYt8ZTy52-UREsoKrwhaLvQ_dCHdrWdyMyk3p9__sH3zL23lX8IjHJNWgNA6F_i2epVb4&usqp=CAU" style="height:250px; width: 350px" />
    </div>

    <div style="margin:70px; border:solid">
        <img src="https://www.racingclub.com.ar/img/noticias/portada-gale-fiesta-07-04-19.jpg" style="height:250px; width: 350px" />
    </div>

    <div style="margin:70px; border:solid">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjdKw3LaRGm5KMqa-w6wH7Cl5xbf5jVYYYVnPmZmVoCSMWaPQ1OzxO3BXxF24ja7DknLc&usqp=CAU" style="height:250px; width: 350px" />
    </div>



</div>

