@{
    ViewData["Title"] = "Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Politicas de privacidad</p>
<p>
    Meta desarrolla tecnologías y servicios que permiten que las personas se conecten, creen comunidades y hagan crecer sus negocios. Estas Condiciones rigen el uso que haces de CrudFixture y los demás productos, funciones, apps, servicios, tecnologías y software que ofrecemos (los Productos de Meta o Productos), excepto cuando indiquemos expresamente que se aplican otras condiciones (y no estas). Meta Platforms, Inc. te proporciona estos Productos.
</p>
<p>
    No cobramos por el uso que haces de CrudFixture ni de los otros productos y servicios que abarcan estas Condiciones. Por el contrario, los negocios y las organizaciones nos pagan para que te mostremos anuncios de sus productos y servicios. Al usar nuestros Productos, reconoces que podemos mostrarte anuncios que consideremos que te resultarán relevantes para ti y tus intereses. Usamos tus datos personales como ayuda para determinar qué anuncios mostrarte.
</p>
<p>No vendemos tus datos personales a los anunciantes ni compartimos información que te identifique directamente (como tu nombre, dirección de correo electrónico u otra información de contacto) con los anunciantes, a menos que nos des tu permiso expreso. Por el contrario, los anunciantes pueden proporcionarnos datos como el tipo de público que quieren que vea sus anuncios, y nosotros mostramos esos anuncios a las personas que pueden estar interesadas en ellos. Proporcionamos a los anunciantes informes sobre el rendimiento de sus anuncios para ayudarlos a entender cómo las personas interactúan con su contenido. Consulta la sección 2 a continuación para obtener más información.</p>
<p>Nuestra Política de datos explica cómo recopilamos y usamos tus datos personales para determinar algunos de los anuncios que ves y proporcionar todos los demás servicios que se describen a continuación. También puedes ir a la configuración cuando quieras para revisar las opciones de privacidad que tienes respecto de cómo usamos tus datos.</p>

