@{
    ViewData["Title"] = "Resumenes";

}

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Escudo_de_Racing_Club_%282014%29.svg/165px-Escudo_de_Racing_Club_%282014%29.svg.png" style="margin-left:-315px; position:fixed" />



<div class="text-center" style="margin:3%">
    <h1 class="display-4">Resumenes</h1>

</div>
<hr />

<!--Fecha 1-->
<div class="row">

    <div class="col-6 ">


        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/9785.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
            <div style="margin-top:13px">
                <h2> <strong>2-2</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
        </div>

        <p style="font-size:17px">
            <strong>Fecha 1:</strong> Difícil estreno en el norte del país. Lisandro López abrió la cuenta con un remate cruzado y Gustavo Bou estiró la ventaja. Parecía encaminada la victoria pero, en el complemento, Guillermo Acosta descontó y David Barbona empató a cuatro del final.
        </p>

        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521411"> +info </A>
        </p>

    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-21%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/WmqnaKtLQ-U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

<!--Fecha 2-->
<hr />

<div class="row">


    <div class="col-6 ">

        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
            <div style="margin-top:13px">
                <h2> <strong>2-0</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/21.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
        </div>
        <p style="font-size:17px">
            <strong>Fecha 2:</strong> Primer triunfo de la temporada. Lisandro López convirtió de entrada para liberar al equipo de la presión. Vélez equilibró el desarrollo y empujó. A poco del cierre, Guillermo Fernández liquidó la historia con una definición de lujo luego de un contragolpe certero.
        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521403"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-21%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/xRIYw9f9OIo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 3-->
<hr />
<div class="row">
    <div class="col-6 ">


        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/10374.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
            <div style="margin-top:13px">
                <h2> <strong>0-3</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
        </div>

        <p style="font-size:17px">
            <strong>Fecha 3:</strong> Otra vez fue Guillermo Fernández el que apareció en el área contraria para destrabar el cero. En el segundo tiempo, Ricardo Centurión, de penal, y Maximiliano Cuadra terminaron de darle formato de goleada a tres puntos vitales.
        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521386"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-21%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/Wr1VPOXydKQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 4-->
<hr />
<div class="row">
    <div class="col-6 ">

        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>2-0</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/17.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
        </div>


        <p style="font-size:17px">
            <strong>Fecha 4:</strong>  Día clave ese domingo 2 de septiembre. El equipo de Eduardo Coudet se impuso después de haber quedado afuera de la Libertadores con River y alcanzó la cima de la tabla de posiciones. Lisandro López hizo el primero en el inicio de la segunda mitad y Augusto Solari sentenció la sonrisa.
        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/equipo/_/id/17/rosario-central"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-21%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/tE4eywHPgdA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 5-->
<hr />
<div class="row">
    <div class="col-6 ">

        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/12.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong> 0-1</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
        </div>

        <p style="font-size:17px">
            <strong>Fecha 5:</strong> Cancha embarrada y juego complicado. Gabriel Arias fue determinante para mantener la valla invicta en los 45 minutos iniciales. El gol de Jonatan Cristaldo, un gran derechazo cruzado, le dio vuelo al líder del campeonato. Racing lo aguantó para seguir en lo más alto.
        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521359"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-21%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/UK1BhK79HTc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 6-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>1-0</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/20.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
        </div>

        <p style="font-size:17px">
            <strong>Fecha 6:</strong> Gran cabezazo de Augusto Solari para capitalizar un centro de Eugenio Mena desde la izquierda y darle a la Academia tres puntos vitales. Encuentro cerrado en el que la defensa resistió la embestida de un adversario que la peleó hasta la última pelota.
        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/equipo/_/id/20/union-santa-fe"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-21%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/oys1dbaAZdk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 7-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/3.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>0-2</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
        </div>

        <p style="font-size:17px">
            <strong>Fecha 7:</strong>  Poco lugar, mucho oficio. Pasada la media hora, un contragolpe fantástico para que Jonatan Cristaldo cabeceara a la red. Gran actuación de Marcelo Díaz. Lisandro López, de penal, aumentó la distancia para que la victoria resultara absolutamente merecida.
        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521334"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-21%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/keHxZToM8fQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 8-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>2-2</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/5.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
        </div>
        <p>
            <strong>Fecha 8:</strong>   Muy buena actuación con un desenlace injusto. La Academia dominó de principio a fin y sacó ventaja gracias a dos tantos de Lisandro López. Ramón Ábila y Sebastián Villa, en apenas ocho minutos, igualaron el clásico de la jornada.
        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521334"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-18%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/fLTYqqr9rC8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 9-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/17814.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>2-1</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
        </div>
        <p style="font-size:17px">
            <strong>Fecha 9:</strong> Otro viaje, primer traspié. El gol de Augusto Solari arrojó tranquilidad y, aun sin brillar, la Academia manejaba los hilos sin mayores apuros. Claudio Bieler aprovechó un lapso de distracciones para revertir el partido y quitarle el invicto al puntero.

        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521315"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-21%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/zAOCuMhdzco" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 10-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>2-1</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/18.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
        </div>
        <p style="font-size:17px">
            <strong>Fecha 10:</strong>  Frente a la necesidad de recuperarse, la categoría para salir del paso. Nicolás Reniero convirtió antes del descanso. Hubo dudas en el Cilindro. Lisandro López marcó en el arranque del complemento y Guillermo Fernández, con un remate desde afuera del área, cantó triunfo.
        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521306"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-21%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/eqO6SMbebE0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 11-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>1-0</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/14.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
        </div>
        <p style="font-size:17px">
            <strong>Fecha 11:</strong>  Sumar, sumar y sumar. Un cabezazo de Jonatan Cristaldo, cuando se terminaba la primera parte para encaminar un duelo trabado. No le sobró nada al conjunto de Eduardo Coudet, que se aferró a la victoria ante una multitud.
        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521280"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-19%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/7Rgc8gDuAzI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!--Fecha 12-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/9.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>0-3</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
        </div>
        <p style="font-size:17px">
            <strong>Fecha 12:</strong> En El Bosque, cuando más falta hacía, un cabezazo de Ricardo Centurión abrió la cuenta para una victoria inapelable. Ya en el segundo tiempo, Lisandro López apareció por duplicado –uno de penal- para otra alegría fundamental de cara al título.
        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521269"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-21%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/j35tl_xcqn8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 13-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>0-0</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/235.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
        </div>
        <p style="font-size:17px">
            <strong>Fecha 13:</strong> Lo buscó por un lado y por el otro pero no pudo. En casa, ante una multitud, el equipo de Eduardo Coudet se quedó con las ganas pero no pudo quebrar a Mauricio Arboleda. Varias posibilidades pero poca contundencia. Un punto que terminaría sirviendo.
        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/equipo/_/id/235/banfield"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-21%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/5tAllSvaGIE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 14-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/19.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>1-3</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
        </div>
        <p style="font-size:17px">
            <strong>Fecha 14:</strong> De las mejores presentaciones de la Academia en la Superliga. Un gol tempranero de Ricardo Centurión para indicar el camino. Y Lisandro López nuevamente en su máxima expresión: dos goles para darle brillo a un equipo cada vez más seguro de su destino.
        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521243"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-21%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/e1BmRPVnxi4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 15-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>1-0</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/7845.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
        </div>
        <p style="font-size:17px">
            <strong>Fecha 15:</strong> Cierre del año en casa con el Cilindro colmado. Lisandro López, de cabeza, convirtió ante una mala salida del arquero cuando promediaba la etapa inicial. El equipo no sufrió y terminó el 2019 con la ilusión encendida.
        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/equipo/_/id/7845/san-martin-san-juan"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-19%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/7qYSl9ACd98" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>



<!--Fecha 16-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/9739.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>1-3</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
        </div>
        <p style="font-size:17px">
            <strong>Fecha 16:</strong>  Mar del Plata repleta de hinchas de la Academia. Augusto Solari aprovechó un error en el comienzo para marcar pero Aldosivi se recuperó y empató. Lisandro López, en el complemento, hizo el segundo de penal. En su primer partido con esta camiseta, Darío Cvitanich convirtió el tercero.
        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521214"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-21%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/Ae0xdSLDiSo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 17-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>3-1</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/10.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
        </div>
        <p style="font-size:17px">
            <strong>Fecha 17:</strong> Superior en todo momento, Jonatan Cristaldo destrabó el encuentro con un tanto de pecho. Poca lógica tuvo la igualdad parcial de Carlos Auzqui. La Academia no dejó de insistir y Lisandro López convirtió de penal. En el descuento, Leonardo Sigali sentenció el triunfo.

        </p>
        <p style="font-size:20px">
            <A HREF="Fecha 17: Racing 3-Huracán 1"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-21%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/QT5PTn0dyhY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 18-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/16.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>2-0</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
        </div>
        <p style="font-size:17px">
            <strong>Fecha 18:</strong> Segundo traspié de la Academia. Al igual que en la Libertadores, en el Monumental. No le salió nada al equipo de Eduardo Coudet. Juan Fernando Quintero anotó de tiro libre. El gol de Alejandro Donatti en contra acabó por sepultar la esperanza de revertir la historia.

        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521188"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-21%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/uc0BdZLUQ9o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 19-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>3-0</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/6756.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
        </div>
        <p style="font-size:17px">
            <strong>Fecha 19:</strong>   Brillante rendimiento de la Academia, que ganó, gustó y goleó en un Cilindro que soñó en grande. Lisandro López puso su sello de entrada. Matías Zaracho, que todavía no había convertido, hizo doblete y fue figura. La gente aplaudió a rabiar a los jugadores.

        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521177"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-21%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/duzRmIiK_eQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 20-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/11.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>1-3</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
        </div>
        <p style="font-size:17px">
            <strong>Fecha 20:</strong>  Control perfecto y derechazo cruzado para que la pelota terminara en la red. Darío Cvitanich expuso su jerarquía a los 36 del primer tiempo para convertir el único tanto de la noche. La Academia controló y podría haber ganado con más comodidad.

        </p>
        <div style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521162"> +info </A>
        </div>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-20%">

    <iframe width="350" height="200" src="https://www.youtube.com/embed/5s3s7f16g4k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>


<!--Fecha 21-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>1-0</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/8.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
        </div>
        <p style="font-size:17px">
            <strong>Fecha 21:</strong>  Control perfecto y derechazo cruzado para que la pelota terminara en la red. Darío Cvitanich expuso su jerarquía a los 36 del primer tiempo para convertir el único tanto de la noche. La Academia controló y podría haber ganado con más comodidad.

        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521151"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-21%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/GL7UmzjNAEE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 22-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/7.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>1-1</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
        </div>
        <p style="font-size:17px">
            <strong>Fecha 22:</strong>  Nada sencilla la visita a Santa Fe. Los locales presionaron mucho y sacaron ventaja con un gol de Wilson Moreno de penal. En el complemento, Marcelo Díaz empujó al equipo y Darío Cvitanich igualó luego de un fenomenal cabezazo de Alejandro Donatti. Punto importante para la Academia.
        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521135"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-21%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/oWRi6ioHyxk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 23-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>1-0</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/4.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
        </div>
        <p style="font-size:17px">
            <strong>Fecha 23:</strong>  Lisandro López no dejó que pasaran ni 60 segundos para convertir con un zurdazo cruzado. Obligado a sumar de a tres, el equipo de Eduardo Coudet soportó los nervios, gestionó la tensión y se abrazó a un triunfo que podría haber sido mucho más holgado.

        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521120"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-21%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/HXeJ0TfehAA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 24-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/7767.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>1-1</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
        </div>
        <p style="font-size:17px">
            <strong>Fecha 24:</strong>  Juego, oficio y jerarquía para quedarse con la final. Un grito de Augusto Solari para hacer latir el corazón académico. Racing campeón, señoras y señores.
        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521111"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-19%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/_QsCLb6G1os" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--Fecha 25-->
<hr />
<div class="row">
    <div class="col-6 ">
        <div style="display: flex; justify-content:center">
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/15.png&h=200&w=200" class="text-center" width="70" height="70" />
            </div>
            <div>
                <h2 style="margin-top:13px"> <strong>1-1</strong></h2>
            </div>
            <div>
                <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/8950.png&h=100&scale=crop&w=100&location=origin" class="text-center" width="70" height="70" />
            </div>
        </div>
        <p style="font-size:17px">
            <strong>Fecha 25:</strong> En la última fecha Racing se enfrentaba a Defensa y Justicia ya consagrado campeón dió la vuelta con su gente, el partido fue interesante de ida y vuelta y ambos equipos se llevaron 1 punto.
        </p>
        <p style="font-size:20px">
            <A HREF="https://www.espn.com.ar/futbol/partido/_/juegoId/521097"> +info </A>
        </p>
    </div>
</div>
<div class="col-6 offset-6 " style="margin-top:-19%">
    <iframe width="350" height="200" src="https://www.youtube.com/embed/Hgl5zGGfXnY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

